.sobre {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  padding: 40px;
  background-color: #c187c9;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  color: #333;
  line-height: 1.6;
}
.sobre h1 {
  margin-bottom: 20px;
  color: rgb(99, 11, 107);
  font-size: 32px;
  text-align: center;
}

.sobre p {
  margin-bottom: 20px;
  font-size: 16px;
}

.sobre h2 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgb(99, 11, 107);
  font-size: 22px;
  border-bottom: 2px solid rgb(99, 11, 107);
  padding-bottom: 8px;
}

.sobre ul {
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.sobre li {
  padding: 12px 16px;
  background-color: rgb(245, 235, 247);
  border-left: 4px solid rgb(99, 11, 107);
  border-radius: 8px;
  color: rgb(70, 20, 75);
  font-weight: 600;
  transition: 0.2s;
}


.sobre h2:last-of-type {
  margin-top: 35px;
}
.sobre p {
  margin-bottom: 0;
  font-weight: 600;
  color: rgb(99, 11, 107);
}




